/* --------------------------------------------------
Variables
---------------------------------------------------- */
.animation div {
  animation: anim-entete 1s both cubic-bezier(0.43, 1.06, 0.97, 1.1);
}

@keyframes anim-entete {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}

/*
.animation div:nth-of-type(1) {
  animation-delay: .5s;
}
.animation div:nth-of-type(2) {
  animation-delay: 1s;
}
.animation div:nth-of-type(3) {
  animation-delay: 1.5s;
}
.animation div:nth-of-type(4) {
  animation-delay: 2s;
}
.animation div:nth-of-type(5) {
  animation-delay: 2.5s;
}
*/
.animation div:nth-of-type(1) {
  animation-delay: 1s;
}

.animation div:nth-of-type(2) {
  animation-delay: 1.5s;
}

.animation div:nth-of-type(3) {
  animation-delay: 2s;
}

.animation div:nth-of-type(4) {
  animation-delay: 2.5s;
}

.animation div:nth-of-type(5) {
  animation-delay: 3s;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #dffad7;
}

body::after {
  content: "";
  clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
  background-color: #f1cca5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  font-size: .6rem;
}

.bloc {
  border: 1px solid black;
  background-color: cadetblue;
  color: wheat;
  font-size: 3rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bloc img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin-right: 15px;
}

.grille {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "entete entete entete" "menu menu menu" "annonce1 annonce1 annonce1" "principal principal principal" "pied-page pied-page pied-page";
}

@media (min-width: 1000px) {
  .grille {
    grid-template-areas: "entete entete entete" "menu menu menu" "principal annonce1 annonce1" "pied-page pied-page pied-page";
  }
}

.entete {
  grid-area: entete;
}

.menu {
  grid-area: menu;
}

.principal {
  grid-area: principal;
}

.annonce1 {
  grid-area: annonce1;
}

.pied-page {
  grid-area: pied-page;
}

.entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entete section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.entete section div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #87de98;
}

.annonce1 {
  background-color: #efebc5;
  color: #5e6e81;
  border-radius: 10px;
  box-shadow: 7px 3px 11px 4px #757477;
  padding: 42px;
  margin: 20px;
}

.annonce1 div {
  font-size: .4em;
  display: flex;
  align-items: center;
}

.principal {
  display: grid;
  place-items: center;
}
/*# sourceMappingURL=style.css.map */